.primary-text {
    color: #fafafa;
}

.secondary-text {
    color: #47526D;
}

.primary-bg {
    background-color: #182341;
}

.primary-darker-bg {
    background-color: #0C142C;
}

.primay-lighter-bg{
    background-color: #1C2949;
}